.header{
    display: flex;
    background-color: #D1EDE1;
    justify-content: space-between;
    align-items:center;

    
}
.header ul{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-right: 10px;
}
ul li{
    list-style:none;
    
}
.section-one{
    background-color: #D1EDE1;
    
    

}
.section-two{
    
    border: 10px solid red;
    
    
}
.info-divs{
    
    display: flex;
    flex-direction: column;
    
}
.info-div{
    border: 2px solid black;
    
    
}
header{
    color: #003E19 ;
    font-weight: 600;
    font-size: large;
}
body{
    margin: 0;
    background-image: url(pexels-mike-marchetti-10255603.jpg);
    background-size: cover;
}